<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FindEvents</title>
        <style>
            table, th, td{
                border: 1px solid black; 
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Risultato ricerca</h1>
        <table style="width:100%">
            <tr>
                <td>Evento</td>
                <td>Link acquisto Ticket Master</td>
                <td>Data</td>
                <td>Ora</td>
                <td>Luogo</td>
            </tr>
            <% for(var i=0; i<5; i++) {%>
                <tr>
                    <td><%= x[i].name %></td>
                    <td><a href=<%= x[i].link %>><%= x[i].link %></a></td>
                    <td><%= x[i].data %></td>
                    <td><%= x[i].ora %></td>
                    <td><%= x[i].luogo %></td>
                </tr>
             <% } %>
        </table>
        
        <form action='accedi_calendar' method='GET'><input name='evento' type='name' placeholder='Nome evento'/><input name='ora' type='time'/><input name='data' type='date'/><input type='submit' value='inserisci'/></form>
        <a href="/dashboard">Back</a>
    </body>
</html>