<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindEvents</title>
    <style>
        table, th, td{
            border: 1px solid black; 
            border-collapse: collapse;
        }
    </style>
    </head>
    <body>
        <h1>Eventi nei prossimi giorni intorno a te</h1>
        <table style="width:100%">
            <tr>
                <td>Evento</td>
                <td>Link acquisto Ticket Master</td>
                <td>Data</td>
                <td>Ora</td>
                <td>Luogo</td>
            </tr>
            <% for(var i=0; i<5; i++) {%>
                <tr>
                    <td><%= x[i].name %></td>
                    <td><a href=<%= x[i].link %>><%= x[i].link %></a></td>
                    <td><%= x[i].data %></td>
                    <td><%= x[i].ora %></td>
                    <td><%= x[i].luogo %></td>
                </tr>
             <% } %>
        </table>
        <a href="/dashboard">Back</a>
    </body>
</html>